body{
    font-family:arial;
    font-size:12px;
    background: burlywood;
}
.centerdiv{
    text-align:center;
}
#btn{
    width:100px;
    height:36px;
    background: aquamarine;
    color: black;
    border:none;}
#btn1{
    width:100px;
    height:36px;
    background: aquamarine;
    color: black;
    border:none;}
